{% extends 'base.html' %}

{% block titl %}
    <title>To-Do</title>
{% endblock  %}

{% block content %}
    <h3><u>Unfinished Tasks</u>:</h3>
    {% set count = [] %}
    {% for item in data %}
        {% if item.status == 0 %}
            {% if count.append(1) %} {% endif %}
           <div class="task-block">
               <div class="task-date">{{item.date.strftime("%d-%m-%Y")}}</div>
               <a class="task-title" href="/edit/{{item.id}}">{{item.title}}</a>
               <br>
               <a class="task-content" href="/edit/{{item.id}}">
                    {{item.task}}
                </a>
            <a class="done-button" href="/done/{{item.id}}">Done</a>
                </div>
            </div>
            <!-- <hr> -->
        {% endif %}
    {% endfor %}
    {% if count|length %}
    {% else %}
        <h3 class="empty">---Empty---</h3>
        <hr>
    {% endif %}

    <h3 style="margin-top: 15px;"><u>Finished Tasks</u>:</h3>
    {% set count = [] %}
    {% for item in data %}
        {% if item.status == 1 %}
            {% if count.append(1) %} {% endif %}
            <h3 class="task-done"><strike>{{item.title}}</strike></h3>
        {% endif %}
    {% endfor %}
    {% if count|length %}
    {% else %}
         <h3 class="empty">---Empty---</h3>
        <hr>
    {% endif %}

    <a class="addnew-button" href="/new">+</a>
{% endblock  %}
