.title{
  background: yellow;
  color: black;
  font-size: 40px;
  margin: 5%;
  margin-top: 0%;
  text-align: center;
  border: solid black 3px;
  height: 60px;
  width: 90%;
}

body{
  background-color: lightgrey;
}

.box{
  border: double red 5px;
}

.content{
  background: teal;
  margin: 20px;
  padding: 15px;
  color: white;
}

.subhead{
  font-style: oblique;
  font-size: 25px;
  text-decoration: underline;
}

.subhead::after{
  content: ":";
}
