<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="discription" content="Flask">
    <meta name="author" content="NiKi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Only HTML</title> -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">
    {% block titl %} {% endblock %}
    <style>
      input {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    </style>
  </head>

  <body>
    {% block content %} {% endblock %}
  </body>

</html>
